/* import fonts */
@import url('reset.css');
@import url('fonts.css');

html {
    /* for dark (main) mode */
    --back-color: #253040;
    --history-block-mobile-back-color: rgb(37, 48, 64, 0.5);

    --back-btn-color: #2e3c50;
    --back-btn-hover-color: #40536e;

    --back-btn-clicked-color: #2e3c50;

    --font-color: #f6f4ef;
    
    --equal-color: #586270; 
    --equal-hover-color: #424953; 
    --equal-clicked-color: #3a4149; 
    
    --expression-color: #8db2e9;
    
    --history-item-hover-color: #3a495f; 
    --current-history-item: #00aeff;

    --icon-gradient: url(#linear-gradient-1);

    /* caret size*/
    --caret-size: 5px;

    --funcs-switcher-hover-color: black;
    --funcs-switcher-hover-back-color: #0098df;
    --funcs-switched-hover-back-color: #008cff; /* v1: #0099ff; v2: #0084ff; 16.02.2025 */
}

.light-theme {
    /* for light mode */
    --back-color:#f6f4ef;
    --history-block-mobile-back-color: rgb(246, 244, 239, 0.7);
    
    --back-btn-color: #80b4fd;
    --back-btn-hover-color: #a4c2ec;
    
    --back-btn-clicked-color: #96b1d6;

    --font-color: #11171f;

    --equal-color: #b9cde7; 
    --equal-hover-color: #d2dbe7; 
    --equal-clicked-color: #a3b5cc;

    --expression-color: #3c4c64;

    --history-item-hover-color: #8aade2; 
    --current-history-item: #006999; /* v1: #015379; v2: #005881; 16.02.2025 */ 

    --icon-gradient: url(#linear-gradient-2);

    --funcs-switcher-hover-color: white;
    --funcs-switcher-hover-back-color: #003750; /* v1: #004666; 16.02.2025*/
    --funcs-switched-hover-back-color: #004799; /* v1: #004799; 16.02.2025 */
}

body {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 400;
    color: var(--font-color);
    background-color: var(--back-color);
}

.wrap {
    min-height: 100vh;
    padding: 20px 40px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.header__title {
    margin: 0 0 0 0.5em;
}
.header__title a {
    cursor: default;
}

.title {
    font-size: 2.5em;
}

.header__logo {
    width: 10.41666627vh; 
    height: 10.41666627vh; 
    min-width: 50px;
    min-height: 50px;
    overflow: hidden;
    border-radius: 25%;
    border: 1px solid var(--back-btn-hover-color);
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__nav {
    /* position: absolute;
    right: 0; */
    margin-left: auto;
}
.header__nav, .nav__body {
    display: flex;
    align-items: center;
}

.nav__icon {
    display: none;
}

.nav__link {
    color: var(--font-color);
    font-weight: 500;
    border-radius: 10px;
    padding: 0.313em 0.938em;
    margin: 0 10px 0 0;
    transition: all 0.3s ease 0s;
    background-color: var(--back-btn-hover-color);
}
.nav__link:last-of-type {
    margin: 0;
}
.nav__link:hover {
    border-radius: 0;
}
.nav__link:active {
    border-radius: 20px;
}

.header__theme-switcher {
    width: 2vw;
    height: 2vw;
    
    min-height: 30px;
    min-width: 30px;

    margin: 0 0 0 80px;

    cursor: pointer;
    background-color: transparent;

    transition: all 0.3s ease 0s;
}

.header__theme-switcher svg {
    width: 100%;
    height: 100%;
}

#first-layer {
    fill: var(--font-color);
    stroke: var(--font-color);
}

.header__theme-switcher:hover {
    transform: scale(1.2);
}

.header__theme-switcher:disabled:hover {
    transform: none;
}

.header__theme-switcher:active {
    transform: scale(1);
} 

#switcher-gradient {
    opacity: 0.0;
    display: inline-block;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease;

    fill: var(--icon-gradient);
    stroke: var(--icon-gradient);
}

#switcher-gradient:hover {
    opacity: 1.0;
}

.header__theme-switcher:disabled #switcher-gradient:hover {
    opacity: 0.0;
}

#switcher-gradient:active {
    opacity: 0.0;
}

.main {
    margin: 4em 0 0 0;
}

@media screen and (min-width: 3820px) {
    body {
        font-size: 2em;
    }
    .wrap {
        width: 95%;
        margin: 0 auto;
        padding: 80px; 
    }
}

@media screen and (min-width: 2540px) {
    body {
        font-size: 1.4em;
    }
    .wrap {
        padding: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .wrap {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.9em;
    }
    body.mobile-lock {
        overflow: hidden;
    }
    .main {
        margin: 3em 0 0 0;
    }
}

@media screen and (max-width: 739px) {
    .nav__icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        background-color: transparent;
    }
    .nav__icon.active-mobile span {
        transform: scale(0) translate(0px, -50%);
    }
    .nav__icon.active-mobile::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .nav__icon.active-mobile::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .nav__icon::before, .nav__icon::after, .nav__icon span {
        position: absolute;
        left: 0;

        height: 10%;
        min-height: 2px;
        width: 100%;

        transition: all 0.3s ease 0s;

        background-color: var(--font-color);

        border-radius: 10px;
    }
    .nav__icon::before, .nav__icon::after {
        content: '';
    }
    .nav__icon::before {
        top: 0;
    } 
    .nav__icon::after {
        bottom: 0;
    }
    .nav__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .nav__body {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100%;
        background-color: var(--back-color);
        padding: 160px 30px 30px 30px;
        transition: left 0.3s ease 0s;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);

        gap: 2em;

        grid-template-areas:
            'switcher'
            'button-first' 
            'button-second';


        overflow: auto;
    }
    .nav__body::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

        height: 16vh;
        min-height: 90px;

        background-color: var(--back-color);
        z-index: 3;
    }
    .nav__body.active-mobile {
        left: 0%;
    }
    .nav__link {
        font-size: 1.25em;
        margin: 0;
        text-align: center;
    }
    .nav__link:first-child {
        grid-area: button-first;
    }
    .nav__link:last-child {
        grid-area: button-second;
    }
    .header__title, .header__logo {
        z-index: 5;
    }
    .header__theme-switcher {
       grid-area: switcher;
       justify-self: end;

        width: 6vw;
        height: 6vw;
        margin: 0;
    }
} 

@media screen and (max-width: 600px) {
    .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 450px) {
    .header {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 1.5em;
    }
}