/* import fonts */
@import url('fonts.css');

html {
    /* for dark theme */
    --dark-back-color: #253040;
    --dark-back-btn-color: #2e3c50;
    --dark-back-hover-color: #40536e;
    --font-color-for-dark: #f6f4ef;
    --dark-equal-color: #586270;
    --dark-equal-hover-color: #424953;
    /* for light theme */
    --third-color: #f4e8e2;
    --fourth-color: #e9aeaf;
    --fifth-color: #ffffff;
}

body {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 400;
}

.wrap {
    color: var(--font-color-for-dark);
    background-color: var(--dark-back-color);
    min-height: 100vh;
    padding: 10px;
}

.main__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.header__title {
    margin: 0 0 0 0.5em;
}

.title {
    font-size: 2.5em;
}

.small-title {
    font-size: 1em;
}

.header__logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 25%;
    border: 1px solid var(--dark-back-hover-color);
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__nav {
    position: absolute;
    right: 0;
}

.nav {
}

.nav__link {
    color: var(--font-color-for-dark);
    font-weight: 500;
    border-radius: 10px; /* 8px */
    padding: 5px 15px;
    margin: 0 10px 0 0;
    transition: 450ms;
    background-color: var(--dark-back-hover-color);
}
.nav__link:last-child {
    margin: 0;
}
.nav__link:hover {
    border-radius: 0;
}

.main {
    margin: 4em 0;
}

.calculator {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.calculator__action-part {
    width: 75%;
}
.calculator__history-part {
    width: 25%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.memory-control {
}

.calculator__memory-control {
    border-bottom: 1px solid var(--font-color-for-dark);
    margin-bottom: 15px;
}

.memory-control__wrap {
    margin-bottom: 5px;

}
.mem-ctrl-btn {
    background-color: transparent;
    padding: 2vh 2.1vw;
}

.mem-ctrl-btn:hover {
    background-color: var(--dark-back-hover-color);
}

.calculator__input {
    margin-bottom: 20px;
    background-color: inherit;
    color: inherit;
    font-size: 2em;
    text-align: right;
    width: 100%;
}

.calculator__input::placeholder {
    color: inherit;
}

.action-buttons {
    display: grid;
    grid-auto-rows: 75px;
    grid-auto-columns: 315px;

    grid-template-columns: repeat(5, 1fr);

    grid-auto-flow: dense;
    gap: 3px;
}

.button {
    cursor: pointer;
    color: var(--font-color-for-dark);
    transition: 450ms;
    border-radius: 5px;
}

.action-buttons__button {
    background-color: var(--dark-back-btn-color);
}
.action-buttons__button:hover {
    background-color: var(--dark-back-hover-color);
}

.num-btn {
    background-color: var(--dark-back-hover-color);
}
.num-btn:hover {
    background-color: var(--dark-back-btn-color);
}

.equal-sign {
    background-color: var(--dark-equal-color);
}
.equal-sign:hover {
    background-color: var(--dark-equal-hover-color);
}