/* import fonts */
@import url('fonts.css');

html {
    /* for dark theme */
    --dark-back-color: #253040;
    --dark-back-btn-color: #2e3c50;
    --dark-back-hover-color: #40536e;
    --font-color-for-dark: #f6f4ef;
    --dark-equal-color: #586270; /* fv: #4e5e74*/
    --dark-equal-hover-color: #424953; /* fv: #323c4b */
    --dark-expression-color: #8db2e9;
    --dark-history-item-hover-color: #3a495f; /* v1: #445670 */
    --dark-current-item-selection: #00aeff;

    /* for light theme */
    --third-color: #f4e8e2;
    --fourth-color: #e9aeaf;
    --fifth-color: #ffffff;
}

body {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 400;
    color: var(--font-color-for-dark);
}

.wrap {
    background-color: var(--dark-back-color);
    min-height: 100vh;
    padding: 10px;
}

.main__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.header__title {
    margin: 0 0 0 0.5em;
}
.header__title a {
    cursor: default;
}

.title {
    font-size: 2.5em;
}

.header__logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 25%;
    border: 1px solid var(--dark-back-hover-color);
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__nav {
    position: absolute;
    right: 0;
}

.nav__link {
    color: var(--font-color-for-dark);
    font-weight: 500;
    border-radius: 10px; /* 8px */
    padding: 5px 15px;
    margin: 0 10px 0 0;
    transition: 450ms;
    background-color: var(--dark-back-hover-color);
}
.nav__link:last-of-type {
    margin: 0;
}
.nav__link:hover {
    border-radius: 0;
}

.header__theme-switcher {
    margin: 0 0 0 80px;
    background-color: transparent;
}

.main {
    margin: 4em 0 0 0;
}

.calculator {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.calculator__action-part {
    width: 75%;
}
.calculator__history-part {
    width: 25%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.calculator__memory-control {
    border-bottom: 1px solid var(--font-color-for-dark);
    margin-bottom: 5px;
}
.calculator__memory-control button {
    text-transform: uppercase;
}

.memory-control__wrap {
    margin-bottom: 5px;
}

.functionality-btn {
    background-color: transparent;
    padding: 3.3vh 2vw;
    margin: 0 5px 0 0;
}
.functionality-btn:last-of-type {
    margin: 0;
}

.functionality-btn:hover {
    background-color: var(--dark-back-hover-color);
}

.calculator__input {
    margin: 0px 5px 20px 0px;
    background-color: inherit;
    color: inherit;
    font-size: 2em;
    text-align: right;
    width: 100%;
}

.calculator__input::placeholder {
    color: inherit;
}

.action-buttons {
    display: grid;
    grid-auto-rows: 75px;
    grid-auto-columns: 315px;

    grid-template-columns: repeat(5, 1fr);

    grid-auto-flow: dense;
    gap: 3px;
}

.button {
    cursor: pointer;
    color: inherit;
    transition: 450ms;
    border-radius: 5px;
}

.action-buttons__button {
    background-color: var(--dark-back-btn-color);
}
.action-buttons__button:hover {
    background-color: var(--dark-back-hover-color);
}

.num-btn {
    background-color: var(--dark-back-hover-color);
}
.num-btn:hover {
    background-color: var(--dark-back-btn-color);
}

.equal-sign {
    background-color: var(--dark-equal-color);
}
.equal-sign:hover {
    background-color: var(--dark-equal-hover-color);
}

.calculator__history-part {
}

.calculator__history-part button {
    background-color: transparent;
    margin: 5px 10px;
}

.calculator__history-part button:hover {
    opacity: 0.8;
}

.history-part {
}

.history-part__active-part-switcher {
    margin: 0 0 5px 0;
}

.history-buttons {
}

.history-buttons__history {
}

.current {
    position: relative;
}

.current::after {
    display: block;
    content: '';
    width: 25px;
    height: 5px;
    margin: 10px auto 0;
    border-radius: 200px;
    background-color: var(--dark-current-item-selection);
}

.history-buttons__memory {
}

.history-part__active-part {
    width: 100%;
}

.active-part__item {
    transition: 450ms;
    border-radius: 5px;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 0 0 5px 0;
}

.active-part__item:hover {
    background-color: var(--dark-history-item-hover-color);
}

.active-part__expression {
    font-size: 0.74em;
    color: var(--dark-expression-color);
}

.calculator__functions {
    margin-bottom: 5px;
}

.functions {
}

.functions_trigonometry {
}

.functions_others {
}

.calculator__science-functions {
    
}
.calculator__science-functions button {
    text-transform: uppercase;
}

.science-functions {
}

.science-functions__angle-value {
    
}

.science-functions__f-e {
    
}